@{
    ViewBag.Title = "Inicio";
}

<div class="d-flex justify-content-center align-items-center custom-height">
    <div class="px-4 py-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Reporte Lester</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Reporte que exporta a Excel usando ASP.NET (.NET Framework) con C#, empleando Entity Framework y LinQ para interactuar con la base de datos SQLServer, además de Bootstrap para los estilos.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/tblRFID_CodiCaptEmbarques" class="btn btn-primary btn-lg px-4 gap-3">Ir al reporte</a>
            </div>
        </div>
    </div>
</div>